<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.announcement.annMapper">
   <sql id="announcement">
      ANN_NO, ANN_SUBJECT, ANN_DATE, ANN_CONTENT, EMP_ID, 
      READ_COUNT, ANN_IMG, ANN_STOREDFILENAME, ANN_ORIGINALFILENAME, ANN_FILESIZE
   </sql>
   <sql id="announcement1">
      ANN_NO annNo, ANN_SUBJECT annSubject, ANN_DATE annDate, ANN_CONTENT annContent, 
      EMP_ID empId, READ_COUNT readCount, ANN_IMG annImg,
      ANN_STOREDFILENAME annStoredFileName, 
      ANN_ORIGINALFILENAME annOriginalFileName, 
      ANN_FILESIZE annFileSize
   </sql>
   <insert id="insertAnn" parameterType="ann">
      insert into ANNOUNCEMENT (<include refid="announcement" />)
      values(board_seq.nextval, #{annSubject}, SYSDATE, #{annContent},
      #{empId}, 0,
      <if test="annImg != ''">
      		#{annImg},
      </if>
      <if test="annImg == ''">
      		null,
      </if>
      <if test="annOriginalFileName != ''">
      		#{annStoredFileName}, 
      		#{annOriginalFileName}, 
      		#{annFileSize}
      </if>
      <if test="annOriginalFileName == ''">
      		null, null, null
      </if>
      )
   </insert>
   <select id="getCount" resultType="int">
   		select count(*) from ANNOUNCEMENT
   </select>
   <select id="getAnnList" parameterType="ann" resultType="ann">
   		select *
   		from ( select rownum rn, <include refid="announcement1" />
   			from (select <include refid="announcement" />
   					from ANNOUNCEMENT
   					<where>
   						<if test="annNo != null">
   							ANN_NO = #{annNo}
   						</if>
   					</where>
   					order by ann_date DESC
   				)
   			)
   		<if test="startEndPageDTO != null">
   		where rn between #{startEndPageDTO.startRow}
   			and #{startEndPageDTO.endRow}
   		</if>
   </select>
   <update id="updateAnn" parameterType="ann">
         update ANNOUNCEMENT
         set ANN_SUBJECT = #{annSubject}, 
         	 ANN_CONTENT = #{annContent},
         	 <if test="annStoredFileName != null">
         	 ANN_STOREDFILENAME = #{annStoredFileName},
         	 ANN_ORIGINALFILENAME = #{annOriginalFileName},
         	 ANN_FILESIZE = #{annFileSize},
         	 </if>
         	 <if test="annStoredFileName == null">
         	 ANN_STOREDFILENAME = null,
         	 ANN_ORIGINALFILENAME = null,
         	 ANN_FILESIZE = null,
         	 </if>
         	 <if test="annImg != null">
         	 ANN_IMG = #{annImg}
         	 </if>
         	 <if test="annImg == null">
         	 ANN_IMG = null
         	 </if>
         where ANN_NO = #{annNo}
   </update>
   <delete id="deleteAnn" parameterType="string">
         delete from ANNOUNCEMENT
         where ann_no = #{value}
   </delete>
   <update id="updateReadCount" parameterType="string">
   		update ANNOUNCEMENT
   		set READ_COUNT = READ_COUNT+1
   		where ann_no = #{value}
   </update>
</mapper>