<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="model.DTO.EmployeeDTO" alias="emp"/>
		<typeAlias type="model.DTO.AuthInfo" alias="auth"/>
		<typeAlias type="model.DTO.AnnDTO" alias="ann"/>
		<typeAlias type="model.DTO.OsDTO" alias="os"/>
		<typeAlias type="model.DTO.DepartmentDTO" alias="dep"/>
		<typeAlias type="model.DTO.NoticeDTO" alias="noti"/>
		<typeAlias type="model.DTO.ApplicantDTO" alias="app"/>
		<typeAlias type="model.DTO.OsFileDTO" alias="osfile"/>
		<typeAlias type="model.DTO.OsEmpDTO" alias="osemp"/>
		<typeAlias type="model.DTO.RoomDTO" alias="room"/>
		<typeAlias type="model.DTO.GoodsPayStDTO" alias="billSt"/>
		<typeAlias type="model.DTO.WedDTO" alias="wed"/>
		<typeAlias type="model.DTO.WedResDTO" alias="wedRt"/>
		<typeAlias type="model.DTO.ReservationRoomDTO" alias="rr"/>
		<typeAlias type="model.DTO.PaymentRoomDTO" alias="pr"/>
		<typeAlias type="model.DTO.GoodsDTO" alias="gd"/>
	</typeAliases>
</configuration>