<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.resrv.resrvMapper">
	<sql id="baseColumn">
		RT_RV_NO, RT_RV_TNUM, RT_RV_NUM, RT_RV_TIME, USER_ID, RT_NO 
	</sql>
	<sql id="baseColumn1">
		RT_RV_NO rtRvNo, RT_RV_TNUM rtRvTnum, RT_RV_NUM rtrvNum, RT_RV_TIME rtRvTime,
		USER_ID userId, RT_NO rtNo
	</sql>
	<insert id="insertResrv" parameterType="model.DTO.ResrvDTO">
		insert into restaurant_reservation (<include refid="baseColumn" />)
		values (board_seq.nextval, #{rtRvTnum}, #{rtrvNum}, #{rtRvTime}, #{userId}, #{rtNo})
	</insert>
	<select id="selectResrv" parameterType="model.DTO.ResrvDTO" resultType="model.DTO.ResrvDTO">
		select * from (select ROWNUM RN, <include refid="baseColumn1" />
					from(select <include refid="baseColumn" />
				from restaurant_reservation
				<trim prefix="where" prefixOverrides="and | or">
					<if test="rtRvNo != null">
						RT_RV_NO = #{rtRvNo}
					</if>
					<if test="rtNo != null">
						RT_NO = #{rtNo}
					</if>
				</trim>
				))
				<where>
					<if test="startEndPageDTO != null">
						rn between #{startEndPageDTO.startRow} and #{startEndPageDTO.endRow}
					</if>
				</where>
	</select>
	<select id="countResrv" resultType="integer">
		select count(*) from restaurant_reservation
	</select>
	<update id="updateResrv" parameterType="model.DTO.ResrvDTO">
		update restaurant_reservation
		<trim prefix="set" suffixOverrides=",">
			RT_RV_TNUM = #{rtRvTnum},
			RT_RV_NUM = #{rtrvNum},
			RT_RV_TIME = #{rtRvTime}
		</trim>
		<where>
			RT_RV_NO = #{rtRvNo}
		</where>
	</update>
	<delete id="deleteResrv">
		delete from restaurant_reservation
		where RT_RV_NO = #{rtRvNo}
	</delete>
</mapper>