<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.reservation.resRoomMapper">
	<sql id="baseColumn">
		RM_RV_NO, CKIN, CKOUT, RM_RV_NUM, RM_NO, USER_ID
	</sql>
	<sql id="roomColumn">
		rm_no, rm_name, rm_char, rm_file, rm_content, rm_paycontent, rm_num, rm_count
	</sql>
	<sql id="rcount">
		select count(*) from rm_reservation group by rm_no, ckin having ckin = #{ckIn} and rm_no = #{rmNo}
	</sql>
	
	<resultMap type="room" id="roomList">
		<id column="rm_no" jdbcType="VARCHAR" property="rmNo"/>
		<result column="rm_name" jdbcType="VARCHAR" property="rmName"/>
		<result column="rm_char" jdbcType="BIGINT" property="rmChar"/>
		<result column="rm_file" jdbcType="VARCHAR" property="rmFile"/>
		<result column="rm_content" jdbcType="VARCHAR" property="rmContent"/>
		<result column="rm_paycontent" jdbcType="VARCHAR" property="rmPaycontent"/>
		<result column="rm_num" jdbcType="BIGINT" property="rmNum"/>
		<result column="rm_count" jdbcType="BIGINT" property="rmCount"/>
	</resultMap>
	<select id="getVacancy" parameterType="rr" resultMap="roomList">
		select <include refid="roomColumn"/>
		from room 
		where (select
				case when (<include refid="rcount"/>) > 0
				then (<include refid="rcount"/>) else 0 end
				from dual)
			&lt; (select rm_count from room where rm_no = #{rmNo}) and rm_no = #{rmNo}
	</select>
</mapper>